h1 {color: #990000; text-decoration: underline;}
h3 {color: #990000; text-decoration: underline;}
hr {height: 3px; color: #990000;background-color:#990000}
body {background-color:  #ccddff; margin: 20px}
img {border-style: solid; border-radius: 50%; border-color:#990000; border-width: 5px}
